.homepage{
	justify-content: flex-start;
	align-items: flex-start;
	gap: 0;
}
.pages-container{
	padding: 20px;
	width: calc(100% - 260px);
	height: 100%;
	color: var(--black-color);
	overflow-y: auto;
}