.navbar{
 	justify-content: flex-start;
 	padding: 20px 0;
}
.logo{
	height: auto;
	width: 175px;
	cursor: pointer;
}
.logo:hover{
	color: var(--primary-color);
}
.nav-btns{
	margin-left: auto;
	gap: 10px;
}