.analyzer{
	gap:30px;
}
.heading{
	background-color: var(--secondary-color);
	padding: 20px 40px ;
	border-radius: 10px;
	color: white;
	width: 100%;
}
.selectors{
	background-color: var(--grey-color);
	padding: 15px;
	border-radius: 10px;
}
.btn-edit{
	width: 100%;
	margin-top: 20px;
	border-radius: 8px;
}
.add-icon{
	color: white;
	font-size: 1.3rem;
}