
.app{
  background-color: var(--white-color);
  font-family: var(--font-base);
  color:var(--black-color);
  overflow-x:hidden;
  align-items: flex-start !important;
}
div{
   transition: all 0.2s ease-out;
}

.app-container{
  max-width: 1200px;
  width: 100%;
}

.full-v{
  height: 100vh;
  width: 100vw;
}

.full{
  height: 100%;
  width: 100%;
}

.app-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
}

.app-flex-wrap{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction:column;
  gap:10px;
}

.pointer{
  cursor: pointer;
}

.btn{
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 100px;
  border: none;
  font-weight: bold;
  border: 3px solid transparent;
  transition: 200ms ease-in-out;
}

.main-btn{
  background-color: var(--primary-color);
  color: white;
}
.main-btn:hover{
  background-color: var(--secondary-color);
}
.main-btn:focus{
 border: 3px solid var(--soft-green);
}

.sub-btn{
  background-color: transparent;
}
.sub-btn:hover{
  background-color: var(--soft-green);
}
.sub-btn:focus{
 border: 3px solid var(--soft-green);
}
.bar-2{
  height: 1px;
  width: 100%;
  background-color: #95bf4838;
  margin: 17px 0;
}

.hover:hover{
  color: var(--primary-color);
}